 *{
    margin: 0;
    padding: 0;
} 

.formu{
    
    flex-direction: column;
    
}

body{
height: 100hv;
display: flex;
align-items: center;
justify-content: center;
margin: 20px;
flex-wrap: wrap;
width: 90%;
min-width: 250px;
background-color: beige;

}

.contenedor_formulario1{
    height: 300px;
    width: 300px;
    background-color:  rgb(243, 221, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    margin-bottom: 0px;
   
}
.cedula{
    text-align-last: center;
    
}

.nombre{
    
    text-align-last: center;
}

.boton_enviar :hover{
color: chartreuse;
background: #000;
}
