body {
    box-sizing: border-box;
    margin: 0;
    font-size: 62.5%;
}

/* estilos para el header del menu */

.header-menu{
    display: flex;
    min-height: 70px;
    justify-content:space-around;
    align-items: center;
    border-bottom: 0.1rem solid rgb(207, 207, 207);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}
.header-menu .titulo {
    margin: 0;
}

/* estilos para el menu general */

.section-menu{
    display: flex;
    width: 100%;
    flex-flow: column wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

/* estilos para la card */

.card-menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 1rem;
    height: 250px;
    background-color: rgb(226, 226, 226);
    border-radius: 12px;
}

.card-menu .img-card {
    height: 125px;
}

.card-menu img {
    width: 100%;
    height: 125px;
    object-fit:cover;
    border-radius: 12px 12px 0 0;
}

.card-menu .card-info{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 1rem 0.8rem;
    height: 50%;

}

.card-menu .card-info p {
    margin: 0;
}

.card-menu button {
    width: 70px;
    background-color: green;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}

.card-menu .content-precio-btn{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
}

/* estilos responsive  */

@media (max-width: 475px) {
    /* estilos para la card */
    .card-menu{
        width: 160px;
    }
    .card-menu .card-info p {
        font-size: 0.9rem;
    }
    /* estilos para el menu general */
    .menu{
        gap: 0.9rem;
    }
}
